<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.electricity.monitoring">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectricityMonitoring"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".auth.ClientNeighbourhoodActivity"
            android:exported="false" />
        <activity
            android:name=".tarrif.TarrifActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.HomeRegistrationActivity"
            android:exported="false" />

        <service
            android:name=".service.StartOnBoot"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.TimeTrackerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".appliance.EditApplianceActivity"
            android:exported="false" />
        <activity
            android:name=".utils.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".auth.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".appliance.ApplianceActivity"
            android:exported="true" />
        <activity
            android:name=".appliance.AddApplianceActivity"
            android:exported="true" />
        <activity
            android:name=".appliance.ViewApplianceActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>